body {
  margin:0px;
  background-color: #DDDAEE;
}
h1 {
  margin:0;
  font-family:"Verdana", sans-serif;
}
h2 {
  font-family:"Verdana", sans-serif;
}
p {
  text-align: left;
  padding-left: 4vw;
}
header {
  background-color: #6794AA;  
  color: white;  
  text-align: center;
  padding:1vw;
  font-size: 200%;
  position: fixed;
  width: 100%;
}
.panel {
  background-color: white;
  text-align: center;
  margin-left: 8vw;
  margin-top: 8vh;
  margin-right: 8vw;
  float: left;
  font-size: 200%;
  border-radius: 15px;
  padding-right: 1em;
}
.check-boxes {
  text-align: left;
  padding-left: 5vw;
}
.popup {
  margin: 0;
  padding: 20px;
  background-color:#9782D2; /* Black w/ opacity */
  position: fixed;
}

#about {
  margin-top: 10em;
  width: 84vw;
  text-indent: 3vw;
}

#options {
  width: 34vw;
  height: 78vh;
  margin-left: 8vw;
  margin-right: 2vw;
}

.description {
  margin-left:-10vw;
  margin-right: 5vw;
  font-size: 12pt;
}

#upload {
  width: 44vw;
  height: 78vh;
  margin-right: 8vw;
  margin-left: 2vw;
}
#results {
  width: 84vw;
  min-height: 40vh;
  text-align: center;
  justify-content: center;
}
#similar {
  width: 84vw;
  min-height: 40vh;
  margin-bottom: 8vh;
}
.button {
  background-color: #6794AA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#run-button {
  font-size: 24px;
}
#uploaded_image {
  width: auto;
  height: auto;
  max-width: 40vw;
  max-height: 40vh;
}
.invisible {
  width:0;
  height:0;
}
.floaty {
  float: center;
  max-width: 100%;
  margin-top: 0;
  text-align: center
}
h3 {
  margin-top:0;
}
.similarIMG {
  float: left;
  margin-left: 5vw;
  margin-bottom: 5vh;
  max-width: 27vw;
  max-height: 27vh;
}
