<!doctype html>
<title>Upload New Image</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scroll.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class = "popup">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<body>
  <header>
    <h1 style="color: white">Painting Classifier</h1>
    <h5 style="margin: 10px; color: white"> Get to know your piece's style, genre, and artist</h5>
  </header>
  <div class="panel" id="about">
    <h2>About</h2>
    <p> Welcome to our art classification site! Upload a photo, choose how you want it to be classified, and our site will give you predictions about the categories your art could fall into and their probabilities.</p>
    <p> For more detailed instructions on how to use this website and information on our categorization and models <a href="{{ url_for('instructions') }}">click here</a>!</p>
  </div>
  <div class="panel" id="options">
    <h2>Options</h2>
    <h4 style = "font-size: 30pt">Select classifications for your image:</h4>
    <form class = check-boxes style="margin-left: -1em;font-size: 26pt">
      <input type="checkbox" id="style" name="style" value="style" onchange="updateBoxes('style','style2')">
      <label for="style"> Style</label><br>
      <div id="description" style="font-size: 18pt; margin-left: -1em; margin-right: 1em; margin-top: -1em">
        <p>Determined by characteristics of the piece (form, color, composition)
        <br>Examples: Realism, Cubism</p><br>
      </div>
      <input type="checkbox" id="genre" name="genre" value="genre" onchange="updateBoxes('genre','genre2')">
      <label for="genre"> Genre</label><br>
      <div id="description" style="font-size: 18pt; margin-left: -1em; margin-right: 1em; margin-top: -1em"">
        <p>Determined by subject matter of a piece
        <br>Examples: Landscape, Still-Life</p><br>
      </div>
      <input type="checkbox" id="artist" name="artist" value="artist" onchange="updateBoxes('artist','artist2')">
      <label for="artist"> Artist</label>
      <div id="description" style="font-size: 18pt; margin-left: -1em; margin-right: 1em; margin-top: -1em"">
        <p>Creators of pieces, whose pieces often have a signature look
        <br>Examples: van Gogh, Monet, Da Vinci</p>
      </div>
    </form>
  </div>
  <div class="panel" id="upload">
    <h2>Upload Your Painting</h2>    
    <form method=post enctype="multipart/form-data">
      <input type="checkbox" class="invisible" id="style2" name="style2" value="style">
      <input type="checkbox" class="invisible" id="genre2" name="genre2" value="genre">
      <input type="checkbox" class="invisible" id="artist2" name="artist2" value="artist">
      <input type="file" id="file" name="file">
      <input  class="button" type=submit value="Upload and Run" >
    </form>
    <img src="{{ uploaded_image_path }}" id=uploaded_image alt="Uploaded Image" height="60%">
  </div>
  
  <div class="panel" id="results">
    <h2>Results</h2>
    <div style="margin: auto;" >
      <div class="floaty">
        {% if style_title != "": %}
        <h3> {{ style_title }} </h3>
        <p><em> {{ style_prediction }} </em></p>
        <p> {{ style_probability }} </p>
        {% endif %}
        <br>
      </div>
  
      <div class="floaty">
        {% if genre_title != "": %}
        <h3> {{ genre_title }} </h3>
        <p><em> {{ genre_prediction }} </em></p>
        <p> {{ genre_probability }} </p>
        {% endif %}
        <br>
      </div>
  
      <div class="floaty">
        {% if artist_title != "": %}
        <h3> {{ artist_title }} </h3>
        <p><em> {{ artist_prediction }} </em></p>
        <p> {{ artist_probability }} </p>
        {% endif %}
        <br>
      </div>
    </div>
    
  </div>
  <div class="panel" id="similar">
    <h2>Similar Paintings</h2>
    {% for img in similar_images: %}
    <img class="similarIMG" src="{{ img }}">
    {% endfor %}
  </div>
  <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
