<!doctype html>
<title>Upload New Image</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scroll.css') }}">
</head>
<body>
  <header>
    <h1>What's My Style?</h1>
  </header>
  <div class="panel" id="options">
    <h2>Settings</h2>
    <p>What's my:</p>
    <form class = check-boxes>
      <input type="checkbox" id="style" name="style" value="style">
      <label for="style"> Style</label><br>
      <input type="checkbox" id="genre" name="genre" value="genre">
      <label for="genre"> Genre</label><br>
      <input type="checkbox" id="artist" name="artist" value="artist">
      <label for="artist"> Artist</label><br><br>
    </form>
  </div>
  <div class="panel" id="upload">
    <h2>Upload Your Painting</h2>    
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input  class="button" type=submit value="Upload and Run" >
    </form>
    <img src="{{ uploadedImagePath }}" alt="Uploaded Image" height="60%">
  </div>
  
  <div class="panel" id="results">
    <h2>Results</h2>
    <h3> Style </h3>
    <p> {{ stylePrediction }} </p>
    <p> {{ styleProbability }} </p>
    
  </div>
  <div class="panel" id="similar">
    <h2>Similar Paintings</h2>
    
  </div>
  
</body>
