<!doctype html>
<title>Upload New Image</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scroll.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class = "popup">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<body>
  <header>
    <h1>What's My Style?</h1>
  </header>
  <div class="panel" id="options">
    <h2>Settings</h2>
    <p>What's my:</p>
    <form class = check-boxes>
      <input type="checkbox" id="style" name="style" value="style" onchange="updateBoxes('style','style2')">
      <label for="style"> Style</label><br>
      <input type="checkbox" id="genre" name="genre" value="genre" onchange="updateBoxes('genre','genre2')">
      <label for="genre"> Genre</label><br>
      <input type="checkbox" id="artist" name="artist" value="artist" onchange="updateBoxes('artist','artist2')">
      <label for="artist"> Artist</label><br><br>
    </form>
  </div>
  <div class="panel" id="upload">
    <h2>Upload Your Painting</h2>    
    <form method=post enctype="multipart/form-data">
      <input type="checkbox" class="invisible" id="style2" name="style2" value="style">
      <input type="checkbox" class="invisible" id="genre2" name="genre2" value="genre">
      <input type="checkbox" class="invisible" id="artist2" name="artist2" value="artist">
      <input type="file" id="file" name="file">
      <input  class="button" type=submit value="Upload and Run" >
    </form>
    <button onclick="postData()" class="button"> Upload and Run</button>
    <img src="{{ uploadedImagePath }}" id=uploaded_image alt="Uploaded Image" height="60%">
  </div>
  
  <div class="panel" id="results">
    <h2>Results</h2>
    <div style="width: 62%;height: 20vh;margin: auto;">
      <div class="floaty">
        <h3> {{ styleTitle }} </h3>
        <p> {{ stylePrediction }} </p>
        <p> {{ styleProbability }} </p>
      </div>
  
      <div class="floaty">
        <h3> {{ genreTitle }} </h3>
        <p> {{ genrePrediction }} </p>
        <p> {{ genreProbability }} </p>
      </div>
  
      <div class="floaty">
        <h3> {{ artistTitle }} </h3>
        <p> {{ artistPrediction }} </p>
        <p> {{ artistProbability }} </p>
      </div>
    </div>
    
  </div>
  <div class="panel" id="similar">
    <h2>Similar Paintings</h2>
    
  </div>
  <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
