<!doctype html>
<title>Instructions</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scroll.css') }}">
</head>
<body>
  <!-- these are all just placeholders, feel free to delete and change -->
  <header>
    <h1>More About Our Site</h1>
  </header>
  <div class="panel">
    <h2>Check out our github repository <a href="https://github.com/kiphenglim/FA20-CS121">here</a></h2>
  </div>
  <form method="post">
    <button type="submit">Back to Main Page</button>
  </form>
</body>
